
<!-- This is the home page of the website -->

<header class="masthead bg-light text-center">
  <div class="container d-flex align-items-center flex-column">
    <%= image_tag "hcwLogo", class: "img-fluid mb-5 logo-max-width", alt: "The Harmony Club of Worcester Logo" %>
  	<h1 class="masthead-heading text-uppercase mb-0">Harmony Club of Worcester</h1>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag("wavingFlagAmerican.gif", class: "img-fluid") %>
    </div>
    <div class="col">
      <%= image_tag("wavingFlagFrench.gif", class: "img-fluid w-75") %>
    </div>
    <div class="col">
      <%= image_tag("wavingFlagCanadian.gif", class: "img-fluid") %>
    </div>
  </div>
  <hr>
  <p class="fs-6 fw-bold">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at the Mill Restaurant (185 West Boylston St., West Boylston, MA) with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult, and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>

  <p class="fs-6 fw-bold">Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Blissful Meadows Golf Club in Uxbridge MA. every September. The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>
</header>
