<h1 class="text-center"><%= @page.title %></h1>
<div class="text-center"> 

  <div id="pdf_viewer">
  <iframe src="/pdfjs/web/viewer.html?file=<%= rails_blob_path(@page.doc, disposition:"attachment") %>" style="border: 0"  width="100%" height="700" frameborder="0" scrolling="no"></iframe>
   </div>
</div>