<div class="text-center"><small class="text-muted"> Start: <%= @event.eventstart.strftime("%B %d, %Y %l:%M %p") %></small></div>
<div class="text-center"><small class="text-muted"> End: <%= @event.eventend.strftime("%B %d, %Y %l:%M %p") %></small></div>