// Place all the styles related to the web/contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#mainCard{
	max-width: 45rem;
}

#headerHR{
	margin: 0px;
}

#floatMessage{
  height: 160px;
}

#emailUsBG{
  max-width: 15rem;
}