// Place all the styles related to the public/sponsors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sponsorCard {
    width: 18rem;
    height: 18rem;
}

.sponsorCardImage {
    max-height: auto;
}